Support for chunked encoding

### Feature description

Currently QGIS seems to rely on a `HEAD` request to return a `content-length` header. 

Our server uses `transfer-encoding: chunked` because it's a proxy that is streaming data from a remote store.. Per RFC 2616, sec. 4.4, when a non-identity encoding is used, the content-length must not be provided. See https://datatracker.ietf.org/doc/html/rfc2616#section-4.4

This means that loading a geotiff like https://stacks.stanford.edu/file/kv186fx7335/m_3611854_se_11_060_20200726.tif fails in QGIS with: "Unsupported Data Source: <url>"

```
$./gdalinfo --debug ON /vsicurl/https://stacks.stanford.edu/file/vq494qx9344/odm_orthophoto_COG_d.tif 1>/dev/null
HTTP: libcurl/8.17.0-DEV OpenSSL/3.6.0 zlib/1.3.1
VSICURL: HEAD did not provide file size. Retrying with GET
VSICURL: GetFileSize(https://stacks.stanford.edu/file/vq494qx9344/odm_orthophoto_COG_d.tif): response_code=200, curl error msg=Failure writing output to destination, passed 8000 returned 0
VSICURL: Request at offset 0, after end of file
VSICURL: GetFileList(/vsicurl/https://stacks.stanford.edu/file/vq494qx9344)
VSICURL: GetFileSize(https://stacks.stanford.edu/file/vq494qx9344/odm_orthophoto_COG_d.tif.xml)=0  response_code=404
ERROR 11: HTTP response code: 404
gdalinfo failed - unable to open '/vsicurl/https://stacks.stanford.edu/file/vq494qx9344/odm_orthophoto_COG_d.tif'.
```



Other software such as geotiff.js works fine with our server, as it just does a range request (https://github.com/geotiffjs/geotiff.js/blob/1d4e7bcc5e7935f48b35b0caa9e1e77334f5abbe/src/source/httputils.js#L135).  The response headers in the range request give the full number of bytes in the file.



### Additional context

<img width="3386" height="1330" alt="Image" src="https://github.com/user-attachments/assets/546c80a0-a9b4-4f9b-aaa7-6e361687e365" />

I think this is a GDAL feature request.

Thank you @rouault and @nicogodet !