OGC API: Feature Creation Request Fails When Location Header is in Lowercase

### What is the bug or the crash?

Hello!

I'm using the **OGC API** to facilitate communication between a REST API service and QGIS standalone.

During the feature creation process, QGIS sends a request to create a feature, and the service responds with a **204 No Content** status along with a Location header containing the URL of the created feature.

However, this response undergoes additional processing by a server middleware, which conforms to HTTP/2 specifications by converting all response headers to lowercase, as stated in **RFC 7540 Section 8.1.2.**

After this conversion, QGIS displays an error message, indicating that the feature was not created.

Issue in Source Code:
`if ( headerKeyValue.first == QByteArray( "Location" ) )`

This logic expects the Location header to be camel case, meaning it does not properly handle headers in lowercase, as required by HTTP/2.

**Requested Fix:**
To ensure compatibility with HTTP/2, please modify the response header handling so that case is ignored when checking for the Location header.

### Steps to reproduce the issue

1. Use HTTP/2 protocol between OGC Server and QGis
2. Connect QGis to OGC Server
3. Attempt to create a feature and save it -> see the error in QGis window

### Versions

3.34.14

### Supported QGIS version

- [x] I'm running a supported QGIS version according to [the roadmap](https://www.qgis.org/en/site/getinvolved/development/roadmap.html#release-schedule).

### New profile

- [ ] I tried with a new [QGIS profile](https://docs.qgis.org/latest/en/docs/user_manual/introduction/qgis_configuration.html#working-with-user-profiles)

### Additional context

_No response_

This should probably fix it (not tested):

```patch
--- a/src/providers/wfs/oapif/qgsoapifcreatefeaturerequest.cpp
+++ b/src/providers/wfs/oapif/qgsoapifcreatefeaturerequest.cpp
@@ -61,7 +61,7 @@ QString QgsOapifCreateFeatureRequest::createFeature( const QgsOapifSharedData *s
   QString location;
   for ( const auto &headerKeyValue : mResponseHeaders )
   {
-    if ( headerKeyValue.first == QByteArray( "Location" ) )
+    if ( headerKeyValue.first.compare( QByteArray( "Location" ), Qt::CaseSensitivity::CaseInsensitive ) == 0 )
     {
       location = QString::fromUtf8( headerKeyValue.second );
       break;
```